#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

#photograph_infos h1 {
    color: #D3573C;
}

#photograph_infos p:nth-child(2) {
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

#photograph_infos p:nth-child(3) {
    color: #525252;
    font-size: 18px;
    font-weight: 400;
}

.photograph-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

#media_container {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.media_obj {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

figure figcaption {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 31px;
    color: #911C1C;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.lightbox__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
}

#filter {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 20px 0 20px 100px;

}

#filter p {
    margin-bottom: 0;
}

.custom-select {
    position: relative;
    left: 25px;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #901C1C;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #901C1C;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

option:nth-child(1)::after,
option:nth-child(2)::after {
    width: 80%;
    height: 2px;
    margin-left: 10%;
    margin-block-end: 10%;
    background-color: #ffffff;
}

.infos-medias {
    display: flex;
    flex-direction: row;
    color: #901C1C;
    align-items: baseline;
    justify-content: space-between;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

#likes-gen {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#btnTitle {
    position: absolute;
    left: 0.5rem;
    top: 5rem;
}

ul {
    list-style-type: none;
}

.photographer-gen {
    font-size: 20px;
    height: 28px;
    width: 300px;
    position: fixed;
    bottom: 0px;
    right: 36px;
    background-color: #DB8876;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.photographer-gen:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}